/*estilos generales*/

.basic-style {
	background-color: #FFFFFF;
	font-family: georgia, serif;
	color: #555555;
	margin: 0;
}
.link {
	font-size: 16px;
	text-decoration: none;
}
.link:hover {
	font-weight: bold;
}

.link:focus {
	font-weight: bold;
}

.basic-content {
	font-size: 16px;
}

/*fin estilos generales*/

/*cabecera*/
.logotype {
	background-color: #181818;
	width: 100%;
}

.logotype-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 25px;
	box-sizing: border-box;
}

.logotype-title {
	color: #e8e8e8;
	font-size: 32px;
	padding: 10px;
	font-weight: bold;
	flex-grow:1;
	text-align: center;
}
.menu {
	list-style: none;
	padding: 10px;
	width: 100%;
}
.menu-icon {
	text-decoration: none;
	color: #e8e8e8;
	width: 100%;
}
.menu-movil {
	position: relative;
	color: #e8e8e8;
	text-decoration: none;
}
.menu-expand {
	position: absolute;
	top: 200%;
	background-color: #181818;
	display: none;
	list-style: none;
	padding: 10px;
}
#menu-movil-link {

}
.menu-movil:target .menu-expand {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	transition: .3s all ease-in;
}

.menu-particular {
	padding-right: 20px;
	padding-bottom: 20px;
}
.menu-particular a {
	color: #e8e8e8;
	text-decoration: none;
}

/*fin cabecera*/

/*intro*/
.main-content {
	width: 90%;
	margin: auto;
}
.phrase {
	color: #900C3F;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.phrase a {
	text-decoration: none;
	color: #900C3F;
}
.cite {
	font-size: 24px;
	font-style: italic;
}
.images {
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}
/*Fin intro*/

/*fortalezas y debilidades*/
.skills-content {
	padding-top: 10px;
	width: 90%;
	margin: auto;
}
/*fin fortalezas y debilidades*/

/*biografias*/
.box-biography {
	width: 85%;
	margin: auto;
	text-align: left;
	background-color: rgba(232, 232, 232, .6);
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.photo {
	width: 100px;
	height: 100px;
	margin: 0px;
}
.name {
	padding: 0%;
	margin: 0%;
}
.social-networks {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0px;
}
.twitter-icon {
	height: 40px;
	width: 40px;
}

.linkedin-icon {
	height: 40px;
	width: 40px;
}
.github-icon {
	height: 40px;
	width: 40px;
}
.gmail-icon {
	height: 40px;
	width: 40px;
}

/*fin biografias*/

/*Footer*/
.foot {
	background-color: #181818;
	color: #e8e8e8;
	padding: 5px;
	font-size: 14px;
  display: flex;
	flex-direction: column;
}
.footbox{
	min-width: 320px ;
	margin-left: auto;
	margin-right: auto;
}
.footlink{
	color: #e8e8e8;
	font-size: 12px;
	text-decoration: none;
}
.adalablog {
	display: block;
	margin: 14px auto;
	max-width: 250px;
	width: 100%;
}
/*Fin footer*/
/*MEDIAQUERIES*/
@media all and (min-width: 768px){

	/*FOOTER*/
	.foot {
		flex-direction: row;
	}
	.footlink{
		font-size: 16px;
	}
}
