/*estilos generales*/

.basic-style {
	background-color: #FFFFFF;
	font-family: georgia, serif;
	color: #555555;
	margin: 0;
}
.link {
	font-size: 16px;
	text-decoration: none;
}
.link:hover {
	font-weight: bold;
}

.link:focus {
	font-weight: bold;
}

.basic-content {
	font-size: 16px;
}

/*fin estilos generales*/

/*cabecera*/
.logotype {
	background-color: #181818;
	width:100%;
}

.logotype-title {
	color: #e8e8e8;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	width: 50%;
}

.menu {
	display: inline-block;
	background-color: #181818;
	color: #e8e8e8;
	position: relative;
	width:40%;
}
.menu-icon {
	width: 20%;
}
.menu-expand {
	display: none;
	position: absolute;
	top: 60px;
	background-color: #181818;
	color: #e8e8e8;
	padding-right:10px;
}
.menu-expand:hover .menu-particular {
	display: block;
}
.menu-particular {
	list-style-type: none;
	text-align: left;
	font-size: 14px;
}
/*fin cabecera*/

/*intro*/
.main-content {
	width: 90%;
	margin: auto;
}
.phrase {
	color: #900C3F;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.box {
	padding: 85%;
	margin: 85%;
}
.images {
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}
/*Fin intro*/

/*fortalezas y debilidades*/
.skills-content {
	padding-top: 10px;
	width: 90%;
	margin: auto;
}
/*fin fortalezas y debilidades*/

/*biografias*/
.box-biography {
	width: 85%;
	margin: auto;
	text-align: left;
	background-color: rgba(232, 232, 232, .6);
	padding: 10px;
	border-radius: 10px;
	-webkit-box-shadow: -10px 3px 19px -2px rgba(181,177,181,0.74);
	-moz-box-shadow: -10px 3px 19px -2px rgba(181,177,181,0.74);
	box-shadow: -10px 3px 19px -2px rgba(181,177,181,0.74);
	margin-top: 10px;
	margin-bottom: 10px;
}

.photo {
	width: 100px;
	height: 100px;
	margin: 5px;
	float: left;
}
.twitter-icon {
	height: 40px;
	width: 40px;
	position: relative;
}

.linkedin-icon {
	height: 40px;
	width: 40px;
	position: relative;
}
.github-icon {
	height: 40px;
	width: 40px;
	position: relative;
}
.gmail-icon {
	height: 40px;
	width: 40px;
	position: relative;
}
.twitter {
	list-style: none;
	display: inline;
}

.linkedin {
	list-style: none;
	display: inline;
}

.github {
	list-style: none;
	display: inline;
}
.gmail {
	list-style: none;
	display: inline;
}
/*fin biografias*/

/*Footer*/
.foot {
	background-color: #181818;
	color: #e8e8e8;
	padding-top: 4px;
	font-size: 14px;
/* Este contenido es para la versión web
  display: flex;
  justify-content: space-between
*/

}
.footbox{
	width: 80%;/*width: 300px;*/
	margin-left: auto;
	margin-right: auto;
}

.footlink{
	color: #e8e8e8;
	font-size: 12px;
	text-decoration: none;
}

.adalablog {
	width: 100%;

	/*padding-top: 10px;*/
}
/*Fin footer*/
