/*estilos generales*/

.basic-style {
	background-color: #FFFFFF;
	font-family: georgia, serif;
	color: #555555;
	margin: 0;
}
.link {
	font-size: 16px;
	text-decoration: none;
}
.link:hover {
	font-weight: bold;
}

.link:focus {
	font-weight: bold;
}

.basic-content {
	font-size: 16px;
}

/*fin estilos generales*/

/*cabecera*/
.logotype {
	background-color: #181818;
	width:100%;
}

.logotype-title {
	color: #e8e8e8;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	width: 50%;
}
.menu {
	display: inline-block;
	width: 40%;
}
.menu-icon {
	width: 30%;
}
.menu-movil {
	position: relative;
	list-style:none;
}
.menu-expand {
	position: absolute;
	top: 100%;
	background-color: #181818;
	display: none;
}
#menu-movil-link {
	
}
.menu-movil:target .menu-expand {
	display: block;
	transition: .3s all ease-in;
}
.menu-particular {
	list-style: none;
	padding-right: 20px;
	padding-bottom: 20px;
}
/*fin cabecera*/

/*intro*/
.main-content {
	width: 90%;
	margin: auto;
}
.phrase {
	color: #900C3F;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.box {
	padding: 85%;
	margin: 85%;
}
.images {
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}
/*Fin intro*/

/*fortalezas y debilidades*/
.skills-content {
	padding-top: 10px;
	width: 90%;
	margin: auto;
}
/*fin fortalezas y debilidades*/

/*biografias*/
.box-biography {
	width: 85%;
	margin: auto;
	text-align: left;
	background-color: rgba(232, 232, 232, .6);
	padding: 10px;
	border-radius: 10px;
	-webkit-box-shadow: -10px 3px 19px -2px rgba(181,177,181,0.74);
	-moz-box-shadow: -10px 3px 19px -2px rgba(181,177,181,0.74);
	box-shadow: -10px 3px 19px -2px rgba(181,177,181,0.74);
	margin-top: 10px;
	margin-bottom: 10px;
	}

.photo {
	width: 100px;
	height: 100px;
	margin: 5px;
	float: left;
	}
.twitter {
	height: 40px;
	width: 40px;
	position: relative;
	left: 30%;
	}

.linkedin {
	height: 40px;
	width: 40px;
	position: relative;
	left: 40%;
	}
/*fin biografias*/

/*Footer*/
.foot {
	background-color: #181818;
	color: #e8e8e8;
	padding-top: 4px;
}
.foot h3 {
	font-size: 12px;
}
.footbox{
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

.footlink{
	color: #e8e8e8;
	font-size: 12px;
	text-decoration: none;
}

.adalablog {
	width: 100%;

}
/*Fin footer*/
